[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytz = "*"
requests = "*"
python-dotenv = "~=0.20.0"
ipython = "*"
django = "==4.0.7"
django-timezone-field = "*"
django-cors-headers = "*"
django-debug-toolbar = "~=3.5.0"
whitenoise = "*"
psycopg2-binary = "*"
dj-database-url = "==1.0.0"
celery = "*"
redis = "*"
django-celery-beat = "*"
python-telegram-bot = "==13.13"
gunicorn = "*"
uvicorn = "*"
httptools = "*"
geopy = "~=2.2.0"
pillow = "*"
django-redis = "*"
django-modeltranslation = "*"

[dev-packages]

[requires]
python_version = "3.10"
